@charset "utf-8";
/* CSS Document */
/* css reset start */
body,h1,h2,h3,h4,h5,h6,dl,dd,ul,li,ol,form,input,select,p,textarea,span{margin:0; font-size:12px; padding:0; font-family:Arial, Helvetica, sans-serif;}
input,textarea,th,td,ol{padding:0;}

a{text-decoration:none;  color: #666;}
a:hover{text-decoration:none; cursor:pointer;}
img{border:none;vertical-align:top; display: block;}
table{border-collapse:collapse; padding:0; margin:0;}
ul,li{list-style:none;}
textarea{overflow:auto;resize:none;}
em,i{ font-style:normal;}
body{background:#f3f3f3; color:#666;}

#exit{color:red; margin-left:5px;}
/*---------------------------top_adv------------------------------*/
.top_adv{width:100%; height:50px; background:#ee3d5a; position: relative;}
.top_adv img{margin:0 auto;}
.top_adv span{color:#fff; position: absolute; right:5%; top:0px;}
/*---------------------------top------------------------------*/
.top_k{width:100%; height:35px; border-bottom:1px solid #ccc; background:#f5f5f5;}
.top{width:1190px; height:35px; margin:0 auto;}
.top_left{float:left; height:35px;line-height: 35px; width:600px; height:35px;}
.top_left h2{width:13px; height:13px; float:left;  margin:10px 5px 0 0; background:url(../img/icon_index.png) no-repeat;}
.top_left span{float:left;}
.top_left h3{float:left; margin-left:5px;font-weight: 100;}
.top_left h3 .t_login{float:left;}
.top_left h3 .t_register{float: left; margin:0 5px; color:#cb351a;}
.top_left h3 span{margin-left:10px; }
.top_left h3 span a{margin:10px 5px;}
.top_left h3 span .login_sian{width:16px; height:16px; float:right; background:url(../img/icon_index.png) no-repeat -485px 0;}
.top_left h3 span .login_pay{width:20px; height:16px; float:right; background:url(../img/icon_index.png) no-repeat -447px 0;}
.top_left h3 span .login_360{width:16px; height:16px; float:right; background:url(../img/icon_index.png) no-repeat -413px 0;}
.top_left h3 span .login_qq{width:17px; height:16px; float:right; background:url(../img/icon_index.png) no-repeat -378px 0;}

.top_right{float:right}
.top_right li{float:left; padding:0 12px; line-height: 35px; background: url(../img/index/li_bg.png) no-repeat right center; position: relative;}
.top_right li a:hover{color:#cb351a;}
.top_right .phone_mai{background:none;}
.top_right .my_mai a{float:left;}
.top_right .my_mai i{width:12px;height:14px; float:left; margin:6px 0 0 10px; background:url(../img/icon_index.png) no-repeat -89px 0;}
.top_right .my_mai .m_hover{background:url(../img/icon_index.png) no-repeat -69px 0;}
.top_right .sc_mai i{width:12px;height:14px; float:left; margin:12px 5px 0 0; background:url(../img/icon_index.png) no-repeat -67px -25px;}
.top_right .sc_mai i:hover{background:url(../img/icon_index.png) no-repeat -44px -25px;}
.top_right .phone_mai i{width:12px;height:14px; float:left; margin:10px 5px 0 0; background:url(../img/icon_index.png) no-repeat -25px 0px;}
.top_right .phone_mai i:hover{background:url(../img/icon_index.png) no-repeat -45px 0px;}
.top_right .my_mai ul{display:none; background:#fff; position: absolute; top:35px; left:10px; width:80px; z-index: 40; border: 1px solid #ccc; border-top:0;}
.top_right .my_mai ul li{line-height:24px; background:none; padding:0 8px;}
.top_right .phone_mai img{display:none; position: absolute; top:35px; right:0; border:1px solid #ccc; border-top:none;}

/*---------------------------logo------------------------------*/
.logo_k{width:100%; height:124px; background:#fff;}
.logo{width:1190px; height:124px; margin:0 auto;}
.logo_img{float:left;}
.logo form{width:495px; height:66px; margin:36px 0 0 30px; float:left; outline: none;}
.search{border: 2px solid #cb1e00; width:395px; height:35px; float:left; font-size: 14px; padding-left:5px;}
.submit{border:none; width:90px; height:39px; float:left; background:#cb1e00; color:#fff;}
.index_ew{float:right;}
.hot_font{line-height: 30px; width:100%; height:30px; float:left;}
.hot_font h3{float:left; font-weight: 100;}
.hot_font a{float:left; margin:0 8px;}
.hot_font .h_hot{color:#cb351a;}

/*---------------------------nav------------------------------*/
.nav_k{width:100%; height:36px; background:#fff;}
.nav{width:1190px; height:36px; margin:0 auto;}
.one{width:180px; height:36px; color:#fff; text-align: center; float:left; background:#CB1E00; line-height: 36px; font-size: 16px; position: relative;}
.one span{float: right;height: 9px;width: 15px;margin: 15px 20px 0 0px;display: inline-block;}
.one .down{background: url(../img/index/emList.png) no-repeat scroll 0 -10px;}
.one .up{background: url(../img/index/emList.png) no-repeat scroll 0 0;}
.nav2{height:36px; float:left;}
.nav2 li{float:left; line-height: 36px;	margin:0 12px; position: relative;}
.nav2 li .n_active{border-bottom:3px solid #CB1E00; display:block; height:33px; color:#CB1E00;}
.hot{width:15px; height:14px; position: absolute; top:-2px; right:-10px; background:url(../img/icon_index.png) no-repeat -108px 0;}
.shopCar{width:148px; height:24px; border:1px solid #ccc; background:#f8f8f8; float:right; padding:10px 0 0 50px;}
.shopCar div{width:20px; height:20px; background:url(../img/icon_index.png) no-repeat -139px 0; float:left;}
.shopCar span{float:left; margin-left:5px;}
/*左侧菜单 内容*/
.nelBox{ padding:12px 8px 12px 15px; line-height: 20px; color:：#000;}
.nelBox p { border-bottom:1px dashed #ccc; padding-bottom:8px;margin-bottom:12px; font-family: "microsoft yahei";}
.nelBox p.last{ border-bottom:none;}
.nelBox p strong{ display: block; ; font-size: 12px; font-weight: bold; height: 22px; }
.nelBox p strong a{ margin: 0; line-height:auto; }
.nelBox p a{ margin-right: 17px; line-height:20px;  display: inline-block; ;}
.nelBox p a.on1{color: #cb3e25;}
.nelBox p -webkit-appearance:.on 2px {background :   #cb3e25 ;  color : #fff ;  padding :0  5px ; };
-moz-appearance:.on 2px {background :   #cb3e25 ;  color : #fff ;  padding :0  5px ; };
appearance:.on 2px {background :   #cb3e25 ;  color : #fff ;  padding :0  5px ; };background: #cb3e25; color:#fff; padding:0 5px;

/*---------------------------nav------------------------------*/
.banner_k{width:100%; height:480px; position: relative;}
.banner{width:1190px; height:480px; margin:0 auto;}
.tow{width:180px; height:480px; float:left; position: relative;}

.tow li{float:left; width:180px; border-top:1px solid #da5a44; border-bottom:1px solid #b82f17; height:51px;  background:#cb3e25; position: relative;}
.tow li a{padding-left:10px; display: block; height:51px;}
.tow li a h4{color:#fff; line-height: 30px;}
.tow li a span{color:#eca598; margin-right:5px;}
.tow li a h3{width:26px; height:51px; float:left; margin-right:10px; background:url(../img/icon_index.png) no-repeat}
.tow li a .tow_bg1{background-position:-570px -50px;}
.tow li a .tow_bg2{background-position:-570px -94px;}
.tow li a .tow_bg3{background-position:-570px -136px;}
.tow li a .tow_bg4{background-position:-570px -181px;}
.tow li a .tow_bg5{background-position:-570px -228px;}
.tow li a .tow_bg6{background-position:-570px -268px;}
.tow li a .tow_bg7{background-position:-570px -310px;}
.tow li a .tow_bg8{background-position:-570px -352px;}
.tow li a .tow_bg9{background-position:-570px -396px;}
.three_k{width:400px; height:480px; position: relative; top:0; left:180px;}
.three{width:400px; height:480px; position: absolute; z-index: 4; top:0; left:0px; border:1px solid #ccc; box-shadow: 1px 2px 5px #ccc; background-color:rgba(255,255,255,0.9); display: none;}


/*--------------------------分类------------------------------*/
.classify{width:1190px; height:190px; margin:24px auto; background:#FAFAFA; border-bottom:1px solid #ccc;}
.class_list{width:148px; height:170px; padding:10px 25px;float: left; }
.class_photo{width:41px; height:41px; background:url(../img/icon_index.png) -59px -244px; margin:0 auto 20px;}
.class_list a{width:60px; height:24px; float:left; margin-left:12px;}
.class_list a:hover{color:#f95d5e;}
.class_list .class_buy{display:block; margin:10px 28px; float:left; padding-left:10px; line-height: 22px; color:#fff; width:80px; height:22px; background: url(../img/icon_index.png) no-repeat -59px -307px;}
.class_photo2{background:url(../img/icon_index.png) -110px -244px;}
.class_photo3{background:url(../img/icon_index.png) -161px -244px;}
.class_photo4{background:url(../img/icon_index.png) -212px -244px;}
.class_photo5{background:url(../img/icon_index.png) -263px -244px;}
.class_photo6{background:url(../img/icon_index.png) -315px -244px;}

/*--------------------------footer背景------------------------------*/
.footer_bg{width:100%; height:380px; background:url(../img/index/footBg.jpg); border-bottom: 1px solid #ccc;}

/*--------------------------footer------------------------------*/
.foot_k{width:100%; height: 86px;  border-bottom:1px solid #ccc;  border-top:1px solid #ccc;background:#fff;}
.foot{width: 1190px; margin:0 auto; padding:20px 0;}
.foot li{float:left; width:205px; height:46px; margin-left:25px;}
.foot li h2{width:46px; height:44px; float:left; margin-right:5px;}
.foot li h3{font-size: 14px; color:#000; line-height: 26px;}
.foot .foot_last{ width:205px;}
.foot_one h2{ background:url(../img/icon_index.png) -58px -345px;}
.foot_tow h2{ background:url(../img/icon_index.png) -113px -345px;}
.foot_three h2{ background:url(../img/icon_index.png) -166px -345px;}
.foot_four h2{ background:url(../img/icon_index.png) -220px -345px;}
.foot_last h2{ background:url(../img/icon_index.png) -274px -345px;}

.foot_b_k{width:100%; height: 186px;  border-bottom:1px solid #ccc; background:#fff;}
.foot_b{width:1100px; margin:0 auto; padding:30px 45px;	}
.foot_ul{width:200px; height:126px; float:left;}
.foot_ul h2{line-height: 24px; margin-bottom:5px; font-size: 14px; color:#000;}
.foot_ul li{line-height: 20px;}
.foot_app{width:100px; text-align: center;}
.foot_app img{width:90px; height:90px; margin:0 auto;}

.contact{width:100%; height:35px; background:#444851; text-align: center; line-height: 35px; color:#adadad;}
.contact a{padding:0 19px; color:#adadad;}

.bottom{height:156px;  background:#fff; text-align: center; overflow: hidden;}
.bottom p{margin-top:10px; line-height: 16px; color:#000;}
.bottom_img{margin:0 auto; width:594px; height:62px; margin-top:24px;}
.bottom_img a{float:left; margin-right:6px; border:1px solid #ccc;}
.bottom_img .bottom_last{margin:0;}
